<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://use.fontawesome.com/10d1bc1575.js"></script>
    <script src="/script/helpers.js"></script>
    <title>
        <%= titel %>
    </title>
</head>

<body>
    <header class="container">
        <nav role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Homepage</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <% if(session.user_id == undefined) { %>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Register</a></li>
                        <% } else { %>
                            <% if(session.user_rank == '2') { %><li><a href="/admin">Adminstration</a></li><% } %>
                            <li><a href="/logout">Log out</a></li>
                        <% } %>
                        <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li> -->
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>

    <main class="container">
        <%- content %>
    </main>

    <footer class="container">

    </footer>

    <script src="/assets/script/jquery-3.3.1.min.js"></script>
    <script src="/assets/script/bootstrap.min.js"></script>
</body>

</html>