* {
    margin: 0;
    padding: 0;
}
body {
    /* background: url(/images/gray-scott-2.png) repeat top left; */
    background: url(/images/generic-background.png) repeat top left;
}

.displaynone{
    display: none;
}

.center {
    text-align: center;
}
.gem {
    width: 50%;
}

#password {
    margin-bottom: 10px;
}
#meter_bg {
    background-color: rgba(0, 0, 0, 0.1);
    height: 0.5em;
    margin-bottom:5px;
}
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    background: none;
}
meter::-webkit-meter-bar {
    background: none;
}
/* Andet */
meter[value="1"] { background: #a03; width: 25%; }
meter[value="2"] { background: #fc3; width: 50%; }
meter[value="3"] { background: #2d98f3; width: 75%; }
meter[value="4"] { background: #76c261; width: 100%; }
/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: #a03; }
meter[value="2"]::-webkit-meter-optimum-value { background: #fc3; }
meter[value="3"]::-webkit-meter-optimum-value { background: #2d98f3; }
meter[value="4"]::-webkit-meter-optimum-value { background: #76c261; }
/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: #a03; }
meter[value="2"]::-moz-meter-bar { background: #fc3; }
meter[value="3"]::-moz-meter-bar { background: #2d98f3; }
meter[value="4"]::-moz-meter-bar { background: #76c261; }


.error_input {
    float: right;
    font-size: 11px;
    color: red;
}

.content {
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    max-width: 470px;
    padding: 10px 20px 20px;
}

.register-steps {
    margin: 0;
}

.register-steps .step {
    border-radius: 10px;
    color: #aaa;
    padding: 7px 5px 0 5px;
    text-align: center;
}

.register-steps .step.active {
    background-color: #f3f3f3;
    color: #000;
}

input {
    margin-bottom: 20px;
}

small {
    color: #337ab7;
}

#login_email, #login_password {
    margin-top: 8px;
}








/* chat styling */


#chat_form {
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
}

#userMsg {
    width: 80%;
    padding-top: 1px;
}

.message_content_h5 .admin {
    color: #e74c3c;
    font-weight: bold;
}

.form-control {
    display: inline;
}
#chatbox {
    background-color: #fff;
    height: 300px;
    max-width: 700px;
    margin: auto;

}

/* VIRKER IKKE FOR FIREFOX & EDGE */
/* width */
::-webkit-scrollbar {
    width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#chat {
    overflow-y: scroll; 
    height: 100%;
}

.messageWrapper {
    clear:both;
}
.messageWrapper .message_content_section:nth-child(2) {
   border-top-left-radius: 1.3em;
}
.messageWrapper .message_content_section:last-child {
   border-bottom-left-radius: 1.3em;
   margin-bottom: 15px;
}

.messageWrapper .message_by_user:first-child {
    border-top-right-radius: 1.3em;
}
.messageWrapper .message_by_user:last-child {
    border-bottom-right-radius: 1.3em;
}
.message_content_h5 {
    color: rgba(0, 0, 0, .40);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 1px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.message_content_name {
    color: rgba(0, 0, 0, .40);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
    white-space: nowrap;
}
.message_content_section {
    background-color: #f1f0f0;
    color: rgba(0, 0, 0, 1);
    margin: 1px 0;
    padding: 6px 12px;
    max-width: 85%;
    float: left;
    clear: both;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
}
.message_content_text {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 1.28;
    text-rendering: optimizeLegibility;
}
.message_by_user {
    float: right;
    background-color: #0084ff;
    color: #fff;
    border-top-left-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
