<% extend('../partials/login_template') %>

<% if(step == 'step1') { %>
<p>You can change or reset your password by completing the form below. We will e-mail you a link which you may then use to select a new password.</p>

<form id="form" action="/reset-password" method="POST">
    <label class="control-label required" for="reset_email">Enter the e-mail that is associated.</label>
    <span id="error_email" class="error_input"></span>
    <span id="error_email_check" class="error_input"></span>
    <input id="reset_email" class="form-control" type="email" name="user_mail" placeholder="Your e-mail adresse">

    <button class="btn btn-warning gem" type="submit">Reset password</button>
</form>

<span id="error"><%= error %></span>
<script>
    document.querySelector('.gem').addEventListener('click', (event) => {
        event.preventDefault();
        let form = document.querySelector('#form');
        let form_valid = true;
        let error_email = document.getElementById('error_email');
        let error_email_check = document.getElementById('error_email_check');
        let error = document.getElementById('error');
        error_email.textContent = "";
        error_email_check.textContent = "";
        error.textContent = "";

        if (form.user_mail.value == undefined || form.user_mail.value == '') {
            error_email.textContent = "Enter your e-mail"
            form_valid = false;
        }
        if (form.user_mail.value != '' && !validateEmail(form.user_mail.value)) {
            error_email_check.textContent = "Non valid e-mail"
            form_valid = false
        }

        if (form_valid == true) {
            form.submit();

        }
    })
</script>
<% } else { %>
<h4 class="text-success">
    <i class="fa fa-check-circle" aria-hidden="true"></i> Sucess!
</h4>
<p>Please check your inbox for further instructions on resetting your account's password.</p>
<% } %>