<% extend('../partials/login_template') %>

<h4 class="text-success">
    <i class="fa fa-check-circle" aria-hidden="true"></i> Your registration was successful!
</h4>
<p>Please check your inbox for an e-mail containing instructions on verifying your e-mail address.</p>
<p>The e-mail was sent to the following e-mail address:</p>
<strong style="padding-left:50px;"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <%  %></strong>
<p>If you do not receive an e-mail within 5-10 minutes, please try <a href="/register">registering your account</a> again.</p>