<% extend('../partials/login_template') %>

    <form method="POST">
        <label class="control-label required" for="register_email">E-mail address:</label>
        <input id="register_email" class="user_mail form-control" type="email" name="user_mail" placeholder="Your e-mail adresse">

        <label class="control-label required" for="register_password">Password:</label>
        <input id="register_password" class="user_password form-control" type="password" name="user_password" placeholder="Create a password">

        <label class="control-label required" for="register_firstname">First name:</label>
        <input id="register_firstname" class="user_firstname form-control" type="text" name="user_firstname" placeholder="Your first name">

        <label class="control-label required" for="register_lastname">Last name:</label>
        <input id="register_lastname" class="user_lastname form-control" type="text" name="user_lastname" placeholder="Your last name">

        <hr>
        <button class="btn btn-primary" type="submit">Join now!</button>
    </form>
    <span><%= error %></span>