<% extend('../partials/login_template') %>

<h4 class="text-success">
    <i class="fa fa-check-circle" aria-hidden="true"></i> Your registration was successful!
</h4>
<p>Please check your inbox for an e-mail containing instructions on verifying your e-mail address.</p>
<p>If you do not receive an e-mail within 5-10 minutes, please try <a href="/register">registering your account</a> again.</p>